@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

h1, h2{
    font-family: Righteous;
}

/* ESTILIZAÇÃO HEADER */
header{
    width: 100vw;
    height: 92px;
    background: rgba(207, 43, 43, 1);
    color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
}

header h1, header p{
    margin-left: 21px;
}

header h1{
    width: 248px;
    height: 44px;
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    padding-top: 8px;
}

header p{
    width: 226px;
    height: 17px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 14px;
}

/* ESTILIZAÇÃO MAIN E SEUS FILHOS */
main{
    margin-top: 123px;
    margin-bottom: 112px;
}

section{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    margin-top: 31px;
    background-color: blueviolet;
}

section h2{
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 17px;
}

section figure{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

section aside{
    height: 216px;
    width: 172px;
    border-radius: 9px;
    background: rgba(255, 255, 255, 1);
    padding-left: 14px;
    padding-top: 18px;
}

section aside strong{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    display: block;
    padding-top: 10px;
    color: rgba(51, 51, 51, 1);
}

section aside p{
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    padding-top: 5px;
    color: rgba(166, 166, 166, 1);
}

section aside b{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
    display: block;
    padding-top: 6px;
}

section div{
    display: flex;
}

section .outros{
    margin-left: 16px;
}

/* ESTILIZAÇÃO RODAPÉ */
footer{
    width: 100vw;
    height: 92px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);    ;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background: rgba(203, 203, 203, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer button p{
    width: 60%;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}